// #region: Animations
@mixin scrollDiagonally
{
    & // NOTE: DO NOT REMOVE; this is a SASS requirement
    {
        animation: 400s scroll infinite linear;
        -webkit-animation: 400s scroll infinite linear;
        -moz-animation: 400s scroll infinite linear;
    }

    @keyframes scroll
    {
        100%
        {
            background-position: -3000px -3000px;
        }
    }

    @-webkit-keyframes scroll
    {
        100%
        {
            background-position: -3000px -3000px;
        }
    }

    @-moz-keyframes scroll
    {
        100%
        {
            background-position: -3000px -3000px;
        }
    }
}

@mixin scrollUp
{
    & // NOTE: DO NOT REMOVE; this is a SASS requirement
    {
        animation: scroll-up 600s infinite linear;
        -webkit-animation: scroll-up 600s infinite linear;
        -moz-animation: scroll-up 600s infinite linear;
    }

    @keyframes scroll-up
    {
        from
        {
            background-position: 0 3000px;
        }

        to
        {
            background-position: 0 -3000px;
        }
    }

    @-webkit-keyframes scroll-up
    {
        from
        {
            background-position: 0 3000px;
        }

        to
        {
            background-position: 0 -3000px;
        }
    }

    @-moz-keyframes scroll-up
    {
        from
        {
            background-position: 0 3000px;
        }

        to
        {
            background-position: 0 -3000px;
        }
    }
}
// #endregion