@use './general' as *;

.la-root
{
    .-bordersround-ltb
    {
        border-radius: 8px 0px 0px 8px;
        border-width: 1px 0px 1px 1px;
        border-style: solid;
    }

    .-bordersround-lb
    {
        border-radius: 0px 0px 0px 8px;
        border-width: 0px 0px 1px 1px;
        border-style: solid;
    }

    .-bordersround-lrt
    {
        border-radius: 8px 8px 0px 0px;
        border-width: 1px 1px 1px 0px;
        border-style: solid;

        &.-small
        {
            border-radius: 4px 4px 0px 0px;
        }
    }

    .-bordersround
    {
        border-radius: 8px;
        border-width: 1px;
        border-style: solid;
    }

    .-bordersoff
    {
        border-color: transparent;
    }

    // Flexboxes
    .la-combine-v,
    .la-combine-h,
    .la-combine-grid
    {
        &.-justifycenter
        {
            justify-content: center;
        }
        
        &.-justifybetween
        {
            justify-content: space-between;
        }

        &.-justifyevenly
        {
            justify-content: space-evenly;
        }

        &.-justifystart
        {
            justify-content: flex-start;
        }

        &.-justifyend
        {
            justify-content: flex-end;
        }
        
        &.-alignstart
        {
            align-items: flex-start;
        }

        &.-alignend
        {
            align-items: flex-end;
        }

        &.-aligncenter
        {
            align-items: center;
        }

        &.-gap0
        {
            gap: 0.125rem;
        }

        &.-gap1
        {
            gap: 0.25rem;
        }

        &.-gap2
        {
            gap: 0.5rem;
        }

        &.-gap3
        {
            gap: 0.75rem;
        }

        &.-gap4
        {
            gap: 1rem;
        }

        &.-gap5
        {
            gap: 1.25rem;
        }

        >.-flex0
        {
            flex: 0;
        }

        >.-flex1
        {
            flex: 1;
        }

        >.-flex2
        {
            flex: 2;
        }

        >.-flex3
        {
            flex: 3;
        }

        >.-flex4
        {
            flex: 4;
        }

        >.-flex5
        {
            flex: 5;
        }

        >.-flexbasis13
        {
            flex-basis: 3.25rem;
        }

        >.-flexthird
        {
            flex: 1 1 33.3333%;
        }
    }

    .-aligncontentcenter
    {
        align-content: center;
    }

    // Vertical flexbox
    .la-combine-v
    {
        display: inline-flex;
        flex-direction: column;
        align-items: center;

        &.-divider
        {
            >*:first-child 
            {
                border-bottom: var(--thickness, 2px) solid var(--color);
            }

            &.-thickness1
            {
                --thickness: 1px;
            }
        }
    }

    // Horizontal flexbox
    .la-combine-h
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    // Dropdowns for Effect, Weapons, Systems, etc
    .la-details.la-combine-v
    {
        // Summary
        >.la-details__summary
        {
            padding: 0.5rem;
            border-radius: 4px 0px 0px 0px;
            cursor: pointer;

            .la-cursor
            {
                --color: currentColor;
            }

            a
            {
                text-align: center;
                width: 1rem;
            }
        }
    }

    .la-effectbox
    {
        position: relative;
        margin-top: 0.5rem;
        padding: 0.5rem;
        padding-top: 1rem;
        padding-bottom: 0.5em;
        
        &.-descriptive
        {
            padding: 0.5rem;
            padding-top: 1.5rem;
            padding-bottom: 1rem;

            .la-flow
            {
                min-width: 12em;
                width: auto;
                float: left;
                margin-right: 1rem;
            }
        }

        &.-largeheader
        {
            margin-top: 1rem;
        }

        >.la-effectbox__span
        {
            position: absolute;
            top: -0.5rem;
            left: 0.5rem;
            padding: 0.1rem;
            padding-right: 1rem;
            padding-left: 0.5rem;
        }

        >.la-effectbox__edit
        {
            position: absolute;
            top: -0.5rem;
            right: 0.5rem;
            padding: 0.1rem;
            padding-right: 1rem;
            padding-left: 0.5rem;
        }

        .la-actionheader
        {
            position: absolute;
            width: calc(100% - 1rem);
            top: -1rem;
        }
    }

    // Edits here are made so that when the user hovers over the header, 
    // the anims will play regardless of whether there are additional 
    // elements in the header
    .la-collapsegroup
    {
        >.la-summary
        {
            &:hover
            {
                >.la-summary-label>.la-terminal,
                >.la-summary-label>.la-extension
                {
                    @include hoverFadeIn;
                }

                >.la-summary-label>.la-cursor
                {
                    @include blinking;
                    @include hoverFadeIn;

                    &
                    {
                        animation: fadeIn 0.25s, blink 1s step-end infinite;
                        -webkit-animation: fadeIn 0.25s, blink 1s step-end infinite;
                        -moz-animation: fadeIn 0.25s, blink 1s step-end infinite;
                    }
                }
            }
        }
    }

    .la-statusbar
    {
        >.la-bar-h>.la-tempvalue
        {
            height: 0.3em;
            top: 0.15em;

            &.-shield
            {
                filter: drop-shadow(0px 0px 2px var(--bar-shield));
                -webkit-filter: drop-shadow(0px 0px 2px var(--bar-shield));
                -moz-filter: drop-shadow(0px 0px 2px var(--bar-shield));
            }

            &.-burn
            {
                filter: drop-shadow(0px 0px 2px var(--bar-burn));
                -webkit-filter: drop-shadow(0px 0px 2px var(--bar-burn));
                -moz-filter: drop-shadow(0px 0px 2px var(--bar-burn));
            }
        }
    }
}