@use './general' as *;

:root,
.la-common
{
    .-bordersround-ltb
    {
        border-radius: 8px 0px 0px 8px;
        border-width: 1px 0px 1px 1px;
        border-style: solid;
    }

    .-bordersround-lb
    {
        border-radius: 0px 0px 0px 8px;
        border-width: 0px 0px 1px 1px;
        border-style: solid;
    }

    .-bordersround-lrt
    {
        border-radius: 8px 8px 0px 0px;
        border-width: 1px 1px 1px 0px;
        border-style: solid;

        &.-small
        {
            border-radius: 4px 4px 0px 0px;
        }
    }

    .-bordersround-lrb
    {
        border-radius: 0px 0px 8px 8px;
        border-width: 1px 1px 1px 1px;
        border-style: solid;

        &.-small
        {
            border-radius: 0px 0px 4px 4px;
        }
    }
    
    .-bordersround-rtb
    {
        border-radius: 0px 8px 8px 0px;
        border-width: 1px 1px 1px 0px;
        border-style: solid;

        &.-small
        {
            border-radius: 0px 4px 4px 0px;
        }
    }

    .-bordersround
    {
        border-radius: 8px 8px 8px 8px;
        border-width: 1px 1px 1px 1px;
        border-style: solid;

        &.-small
        {
            border-radius: 4px;
        }
    }

    .-borders
    {
        border-width: 1px;
        border-style: solid;
    }

    .-borders-l
    {
        border-width: 0px 0px 0px 1px;
        border-style: solid;
    }

    .-bordersoff
    {
        border-color: transparent;
    }

    @mixin collapseFadeOut
    {
        transition: max-height 0.20s, opacity 0.25s, padding 0.5s ease-in;
        -webkit-transition: max-height 0.20s, opacity 0.25s, padding 0.5s ease-in;
        -moz-transition: max-height 0.20s, opacity 0.25s, padding 0.5s ease-in;
    }

    // Collapse group
    .collapse-wrapper
    {
        @include collapseFadeOut;
        max-height: 100%;

        &.collapsed
        {
            max-height: 0;
            min-height: 0;
            opacity: 0;
            overflow: hidden;
        }
    }

    // Flexboxes
    .la-combine-v,
    .la-combine-h,
    .la-combine-grid,
    .-displayflex
    {
        &.-justifycenter
        {
            justify-content: center;
        }
        
        &.-justifybetween
        {
            justify-content: space-between;
        }

        &.-justifyevenly
        {
            justify-content: space-evenly;
        }

        &.-justifystart
        {
            justify-content: flex-start;
        }

        &.-justifyend
        {
            justify-content: flex-end;
        }
        
        &.-alignstart
        {
            align-items: flex-start;
        }

        &.-alignend
        {
            align-items: flex-end;
        }

        &.-aligncenter
        {
            align-items: center;
        }

        &.-gap0
        {
            gap: 0.125rem;
        }

        &.-gap1
        {
            gap: 0.25rem;
        }

        &.-gap2
        {
            gap: 0.5rem;
        }

        &.-gap3
        {
            gap: 0.75rem;
        }

        &.-gap4
        {
            gap: 1rem;
        }

        &.-gap5
        {
            gap: 1.25rem;
        }
        
        &.-wrapwrap
        {
            flex-wrap: wrap;
        }

        >.-flex0
        {
            flex: 0;
        }

        >.-flex1
        {
            flex: 1;
        }

        >.-flex2
        {
            flex: 2;
        }

        >.-flex3
        {
            flex: 3;
        }

        >.-flex4
        {
            flex: 4;
        }

        >.-flex5
        {
            flex: 5;
        }

        >.-flexbasis13
        {
            flex-basis: 3.25rem;
        }

        >.-flexthird
        {
            flex: 1 1 33.3333%;
        }
    }

    .-aligncontentcenter
    {
        align-content: center;
    }

    .-aligncontentend
    {
        align-content: flex-end;
    }
    
    .-alignselfstart
    {
        align-self: flex-start;
    }

    .-alignselfcenter
    {
        align-self: center;
    }

    // Vertical flexbox
    .la-combine-v
    {
        display: inline-flex;
        flex-direction: column;
        align-items: center;

        &.-divider
        {
            >*:first-child 
            {
                border-bottom: var(--thickness, 2px) solid var(--color);
            }

            &.-thickness1
            {
                --thickness: 1px;
            }
        }
    }

    // Horizontal flexbox
    .la-combine-h
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .la-combine-grid
    {
        display: grid;

        &.-horizontal2
        {
            grid-template-columns: repeat(2, 1fr);
        }

        &.-horizontal3
        {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    // Dropdowns for Effect, Weapons, Systems, etc
    .la-details.la-combine-v
    {
        // Summary
        >.la-details__summary
        {
            padding: 0.5rem;
            border-radius: 4px 0px 0px 0px;
            cursor: pointer;

            a
            {
                text-align: center;
                width: 1rem;
            }
        }
    }

    // Generic descriptor box for effects, weapons, systems, etc
    .la-effectbox
    {
        position: relative;
        margin-top: 0.5rem;
        padding: 0.5rem;
        padding-top: 1rem;
        padding-bottom: 0.5em;

        &.-largeheader
        {
            margin-top: 1rem;
        }

        >.la-effectbox__span
        {
            position: absolute;
            top: -0.5rem;
            left: 0.5rem;
            padding: 0.1rem;
            padding-right: 1rem;
            padding-left: 0.5rem;
        }

        >.la-effectbox__edit
        {
            position: absolute;
            top: -0.5rem;
            right: 0.5rem;
            padding: 0.1rem;
            padding-right: 1rem;
            padding-left: 0.5rem;
        }

        .la-actionheader
        {
            position: absolute;
            width: calc(100% - 1rem);
            top: -1rem;
        }
    }

    // Edits here are made so that when the user hovers over the header, 
    // the anims will play regardless of whether there are additional 
    // elements in the header
    .la-collapsegroup
    {
        >.la-summary
        {
            &:hover
            {
                .la-terminaltext>.la-cmdline,
                .la-terminaltext>.la-extension
                {
                    @include hoverFadeIn;
                }

                .la-terminaltext>.la-cursor
                {
                    @include blinking;
                    @include hoverFadeIn;

                    &
                    {
                        animation: fadeIn 0.25s, blink 1s step-end infinite;
                        -webkit-animation: fadeIn 0.25s, blink 1s step-end infinite;
                        -moz-animation: fadeIn 0.25s, blink 1s step-end infinite;
                    }
                }
            }
        }
    }

    .la-statusbar
    {
        >.la-bar-h>.la-tempvalue
        {
            height: 0.3em;
            top: 0.15em;

            &.-shield
            {
                filter: drop-shadow(0px 0px 2px var(--bar-shield));
                -webkit-filter: drop-shadow(0px 0px 2px var(--bar-shield));
                -moz-filter: drop-shadow(0px 0px 2px var(--bar-shield));
            }

            &.-burn
            {
                filter: drop-shadow(0px 0px 2px var(--bar-burn));
                -webkit-filter: drop-shadow(0px 0px 2px var(--bar-burn));
                -moz-filter: drop-shadow(0px 0px 2px var(--bar-burn));
            }
        }

        >.la-bar-h>.la-tempvaluealt
        {
            height: 0.3em;
            top: -0.1em;

            &.-shield
            {
                filter: drop-shadow(0px 0px 2px var(--bar-shield));
                -webkit-filter: drop-shadow(0px 0px 2px var(--bar-shield));
                -moz-filter: drop-shadow(0px 0px 2px var(--bar-shield));
            }

            &.-burn
            {
                filter: drop-shadow(0px 0px 2px var(--bar-burn));
                -webkit-filter: drop-shadow(0px 0px 2px var(--bar-burn));
                -moz-filter: drop-shadow(0px 0px 2px var(--bar-burn));
            }
        }
    }

    .la-textlog
    {
        &.-scrolling
        {
            .la-textlog__typeit
            {
                display: flex;
                flex-direction: column-reverse;
                overflow-y: auto;
                scrollbar-width: thin;
                scrollbar-color: gray transparent;
                min-height: 100%;
                
                ::before
                {
                    content: none;
                    display: none;
                }
            }
        }

        .la-textlog__ruler
        {
            background-image: url(/assets/scale_1.png);
        }

        .la-textlog-left__current
        {
            height: 16px;
            background-image: url(/assets/sb_l.png);
            background-repeat: no-repeat;
        }

        .la-textlog-right__current
        {
            height: 16px;
            background-image: url(/assets/sb_r.png);
            background-repeat: no-repeat;
        }
    }

    .la-actionlog
    {
        scrollbar-width: thin;

        &.-main
        {
            overflow-y: auto;
            scrollbar-color: var(--scrollbar-secondary) transparent;
        }
    }

    .la-boundimage
    {
        >.la-boundimage__image
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    button.la-tab
    {
        letter-spacing: 0.2rem;
        text-align: center;

        transition: all 0.15s ease-in;

        &:hover
        {
            background-color: var(--darken-1);
        }

        &.active
        {
            background-color: var(--darken-2);
        }
    }
}