// Overrides for Foundry and Lancer

#tooltip.la-tooltip,
aside.la-tooltip.active
{
    padding: unset;
    border-color: var(--la-primary-color);
    background-color: var(--darken-5);
    text-align: left;
        
    >.la-tooltip__content
    {    
        padding: 3px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    h3
    {    
        margin: unset;
        border: unset;
        background-color: var(--la-primary-color);
        box-shadow: inset 0px 0px 2px 0px var(--background-color);
        text-transform: uppercase;
        padding: 5px;
    }

    &.-wide
    {
        max-width: 500px;
    }

    &.-scrollbar
    {
        overflow-y: auto;
        max-height: 500px;
        scrollbar-width: thin;
        scrollbar-color: var(--la-primary-color) var(--invade-color);
    }
}

// #region Sheet Window

// This is so oddly specific because Monk's Little Details adds an oddly specific 
// border CSS rule for some reason and dominance must be asserted :triumph:
:root body.game.system-lancer>.lancer.sheet.la-common
{
    >header.window-header
    {
        background-color: var(--la-primary);
        border: unset;
    }
}

.lancer.sheet.la-common 
{
    // Padding around sheets
    >.window-content:has(>.la-root)
    {
        padding: inherit;
        overflow: hidden;
    }

    // Padding around headers
    header:not(.window-header).la-header
    {
        margin: unset;
    }

    // Can't be section below, because Lancer system has odd specificity requirements
    select
    {
        width: unset;

        >option
        {
            background-color: unset;
            color: unset;
        }
    }
}

// #endregion

// #region Generic Controls
.la-common
{
    img
    {
        border: unset;
    }

    input
    {
        border: unset;
        padding: unset;
        background: unset;
        clip-path: unset;
        -webkit-clip-path: unset;
    }

    button
    {
        width: unset;
        border: unset;
        border-radius: unset;
        padding: unset;
        background: unset;
        box-shadow: unset;
        line-height: unset;
        color: unset;
        margin: unset;

        &:hover
        {
            box-shadow: unset;
        }

        i
        {
            margin-right: unset;
            vertical-align: middle;
        }
    }

    h1
    {
        border-bottom: unset;
        margin: unset;
        font-weight: unset;
    }

    i
    {
        vertical-align: middle;
    }

    header.sheet-header img
    {
        margin-right: unset;
    }

    // Lancer overrides under this sheet
    .roll-attack,
    .roll-tech
    {
        flex-direction: unset;
        justify-content: unset;
        align-items: unset;
        flex-grow: unset;
        margin: unset;
        min-width: unset;
        height: unset;
        border: unset;
        border-radius: unset;
        box-shadow: unset;
        position: unset;
    }

    .roll-damage
    {
        margin: unset;
    }

    .compact-damage
    {
        margin: unset;
    }

    .core-power-toggle
    {
        cursor: pointer;
        margin: unset !important;
        width: unset;
        height: unset;

        &:checked::before
        {
            content: "\F12A3";
        }

        &:not(:checked)::before
        {
            content: "\F125E";
            color: currentColor;
        }
    }

    .loaded-hex,
    .uses-hex,
    .power-uses-hex,
    .counter-hex,
    .charged-hex
    {
        font-size: unset;
        color: unset;
    }

    .counter-hex
    {
        filter: unset;
    }

    .compact-tag-row
    {
        margin: unset;
    }

    .clicker-minus-button,
    .clicker-plus-button
    {
        min-width: unset;
        width: unset;
        height: unset;
        background-color: unset;
        color: unset;
        border: unset;
        box-shadow: unset;
        line-height: unset;
    }

    .profile-img
    {
        font-size: unset;
        min-width: unset;
        max-width: unset;
        min-height: unset;
        max-height: unset;
        object-fit: unset;
    }

    .lancer-damage-button-group
    {
        >.lancer-damage-apply
        {
            border-radius: 0px 4px 4px 0px;
            border-color: var(--la-secondary);
            border-width: 1px 1px 1px 0px;
            border-style: solid;
            background-color: var(--darken-3);
            padding-left: 0.25rem;
            padding-right: 0.25rem;
        }
        
        >.lancer-damage-apply-select
        {
            border-radius: 4px 0px 0px 4px;
            border-color: var(--la-secondary);
            background-color: var(--la-secondary);
            color: var(--la-header);
        }
    }

    .mini-weapon-profile
    {
        background-color: var(--darken-1);
        color: var(--la-text);
        font-size: 1.25rem;
    }

    .lancer-mini-header
    {
        background-color: var(--la-pilot);
        color: var(--la-header);
    }

    .lancer-damage-flow
    {
        background-color: var(--la-secondary);
        color: var(--la-header);
    }

    .lancer-header
    {
        background-color: var(--la-primary);
        color: var(--la-header);
    }

    .compact-tag
    {
        background-color: var(--la-primary);
        color: var(--la-header);

        >i
        {
            color: var(--la-header);
        }
    }
}

// #endregion