:root,
.la-common
{
    .-writingmode-v
    {
        writing-mode: vertical-lr;
        writing-mode: sideways-lr;
    }

    .-writingmode-h
    {
        writing-mode: horizontal-tb;
    }

    .-whitespacenowrap
    {
        white-space: nowrap;
    }

    .-whitespacenormal
    {
        white-space: normal;
    }

    .-upper
    {
        text-transform: uppercase;
    }

    .-lower
    {
        text-transform: lowercase;
    }

    .-capitalize
    {
        text-transform: capitalize;
    }

    .-fontsizeinherit
    {
        font-size: inherit;
    }

    @mixin generate-fontsize($start: 0, $end: 20, $step: 0.25rem)
    {
        @for $i from $start through $end
        {
            .-fontsize#{$i}
            {
                font-size: ($i + 1) * $step;
            }
        }
    }

    @include generate-fontsize(0, 20, 0.25rem);

    .-fontsizesmall
    {
        font-size: 0.75rem;
    }

    .-fontsizemedium
    {
        font-size: 0.9rem;
    }

    .-strikethrough
    {
        text-decoration: line-through;
    }

    .-textaligncenter
    {
        text-align: center;
    }

    .-textalignright
    {
        text-align: right;
    }

    .-textalignleft
    {
        text-align: left;
    }

    .-textalignjustify
    {
        text-align: justify;
    }

    .-textwrapnowrap
    {
        white-space: nowrap;
        text-wrap: nowrap;
    }

    .-textoverflowellipsis
    {
        text-overflow: ellipsis;
        overflow: clip;
    }

    .-bold
    {
        font-weight: bold;
    }

    @mixin generate-letterspacing($start: 0, $end: 10, $step: 0.1rem)
    {
        @for $i from $start through $end
        {
            .-letterspacing#{$i}
            {
                letter-spacing: ($i + 1) * $step;
            }
        }
    }

    @include generate-letterspacing(0, 5, 0.1rem);
}