.la-root .la-bonds
{
    .bond-power-flow>.mdi
    {
        line-height: 2.1rem;
        padding-left: 0.15rem;
    }

    
    .la-bond-card
    {
        perspective: 800px;
        
        .la-bond-card__img-anchor
        {
            width: fit-content;
            animation: rotate-y-360 10s linear infinite;
    
            @keyframes rotate-y-360 {
                from {
                    transform: rotateY(0deg);
                }
                to {
                    transform: rotateY(360deg);
                }
            }
    
            >.la-bond-card__img
            {
                --angle: 30deg;
    
                object-fit: contain;
                height: 13rem;
    
                transform: rotate(var(--angle));
            }
        }
    }
}