@use '../shared/mixins' as *;

.la-root .la-bonds
{
    .bond-power-flow>.mdi
    {
        line-height: 2.1rem;
        padding-left: 0.15rem;
    }

    
    .la-bond-card
    {
        perspective: 800px;
        
        .la-bond-card__img-anchor
        {
            width: fit-content;

            >.la-bond-card__img
            {
                --angle: 30deg;
    
                object-fit: contain;
                height: 13rem;
    
                transform: rotate(var(--angle));
            }
        }
    }

    .la-bond-card-spin
    {
        perspective: 800px;

        .la-bond-card__img-anchor
        {
            width: fit-content;
            @include rotateY360;

            >.la-bond-card__img
            {
                --angle: 30deg;

                object-fit: contain;
                height: 13rem;

                transform: rotate(var(--angle));
            }
        }
    }
}