.la-pilotfluff
{
    font-size: 0.73rem;

    mask-image: linear-gradient(to bottom, black 6.6rem, transparent calc(10rem - 0px));
    -webkit-mask-image: linear-gradient(to bottom, black 6.6rem, transparent calc(10rem - 0px));
    -moz-mask-image: linear-gradient(to bottom, black 6.6rem, transparent calc(10rem - 0px));
}