.la-root.la-npc
{
    .la-SCROLL_BODY
    {
        overflow: hidden;
        display: flex;
        flex-direction: column;

        >.tab
        {
            flex: 1;
            min-height: 0;
            overflow-y: scroll;
            overflow-x: hidden;
            padding-left: 7px;

            scrollbar-width: thin;
            scrollbar-color: var(--la-scrollbar-primary) transparent;
        }
    }
}