@use "@/styles/mech/hase-display" as mech-hase;

.la-npc
{
    .la-haseposition
    {
        width: 3rem;
    }

    .la-hasegroup>.la-hase
    {
        display: flex;
        translate: 0rem 0.5rem;

        // HASE hexagons
        >.la-combine-h
        {
            >.-hull
            {
                @include mech-hase.mdiAbsolute;
            }

            >.-agi
            {
                @include mech-hase.mdiAbsolute;
            }

            >.-sys
            {
                @include mech-hase.mdiAbsolute;
            }

            >.-eng
            {
                @include mech-hase.mdiAbsolute;
            }
        }
    }
}