@use '../open-color' as oc;

// Based off https://github.com/massif-press/compcon/blob/master/src/ui/style/themes
$galsim-theme: (
    theme-type: 'dark',
    theme-id: 'galsim',
    theme-name: 'FORECAST/GALSIM (Community)',

    // Main
    primary: #e36600,
    secondary: #3e6a94,
    active: #2a416b,
    accent: #4974bf,
    background: #2b2b2b,

    // Misc.
    pilot: #172b3a, // Except this, because the default bothers me greatly
    exotic: #FFAB00,

    action--downtime: #158f8f,  // And this, the original colors threaten my very existence
    reserve--organization: #3ec2c2,
    action--reaction: #823aa1,

    weapon: #555555,
    mech-weapon: #555555,
    pilot-weapon: #555555,

    // Signal
    error: #F44336,
    info: #1565C0,
    success: #10a14c,
    warning: #e89f0c,

    // ----------------
    // Sheet Colors
    // ----------------
    header: #f4f4f4,
    header-anti: #212121,
    bar-back: oc.$oc-gray-8,
    bar-health: oc.$oc-lime-9,
    bar-shield: oc.$oc-cyan-9,
    bar-structure: oc.$oc-violet-9,
    bar-heat: oc.$oc-orange-9,
    bar-stress: oc.$oc-pink-9,
    bar-burn: oc.$oc-red-9,
    card: oc.$oc-gray-9,
    shadow: rgba(99, 99, 99, 0.2),
    scrollbar-primary: rgba(#e36600, 0.5),
    scrollbar-secondary: rgba(#3e6a94, 0.5)
);
