@use '../open-color' as oc;

// Based off https://github.com/massif-press/compcon/blob/master/src/ui/style/themes
$gms-theme: (
    theme-type: 'light',
    theme-id: 'gms',
    theme-name: 'GMS Red (Default)',

    // Main
    primary: #991E2A,
    secondary: #193c87, //#283593,
    // active: #d93f4e,
    accent: #8c1420,
    background: #f4f4f4,

    // Misc.
    pilot: #555555, // Original color was too hard to contrast against the secondary
    exotic: #673AB7,

    action--downtime: #37474F,
    reserve--organization: #455A64,
    action--reaction: #512DA8,

    weapon: #212121,
    // mech-weapon: #212121,
    // pilot-weapon: #212121,

    // Signal
    error: #F44336,
    info: #1565C0,
    success: #00C853,
    warning: #FFAB00,
    
    // Text
    // text: #212121,
    // subtle: #9E9E9E,
    // stark: #000,
    // anti: #fff,
    // light-text: #424242,
    // stark-text: #000,

    // ----------------
    // Sheet Colors
    // ----------------
    text: #212121,
    header: #f4f4f4, // background
    header-anti: #212121,
    tabs: #0f2554,
    bar-back: oc.$oc-gray-5,
    bar-health: oc.$oc-teal-6,
    bar-shield: oc.$oc-cyan-3,
    bar-structure: oc.$oc-indigo-4,
    bar-heat: oc.$oc-yellow-5,
    bar-stress: oc.$oc-red-6,
    bar-burn: oc.$oc-pink-5,
    card: oc.$oc-gray-3,
    shadow: rgba(99, 99, 99, 0.2),
    scrollbar-primary: rgba(#991E2A, 0.5), // primary
    scrollbar-secondary: rgba(#193c87, 0.5) // secondary
);