<form class="la-mech {{cssClass}} la-root flexcol {{getTheme}}" autocomplete="off">
    {{!-- (#1)
    // Foundry seems to initialize nav tabs only once on the constructor,
    // but Svelte unfortunately mounts after the constructor so we must reconcile.
    // 
    // Chosen approach was made because navbar and relative content containers aren't
    // reactive, so doing it how Foundry likes it is better than dealing with potential
    // side-effects over trying to be consistent with the rest of the codebase.
    //
    // If Svelte needs to be reconciled (i.e. now that they don't have a common
    // parent), <svelte:window on:eventsomewhere={}>CONTENT HERE</svelte:window> 
    // can be used to listen for events in other mounted components, or an event 
    // listener can be added through the activateListeners() override, or hooks, etc
    --}}
    <header 
        class="la-header la-bg-scroll -flex0
            sheet-header"
    >
        <div class="la-SVELTE-HEADER">
        </div>
        {{!-- (#1) --}}
        <!-- Navigation -->
        <div class="la-nav__island la-combine-h -justifyend -gap1 la-dropshadow -widthfull">
            <div class="la-SVELTE-ADVANCEDNAV la-combine-h -gap1">
                {{!-- Svelte is injected in-place here --}}
            </div>
            <nav 
                class="la-tabs la-bckg-pilot clipped-alt" 
                data-group="primary">
                <button type="button"
                    class="la-tab clipped-bot-alt la-text-header -fontsize2 -padding1"
                    data-group="primary"
                    data-tab="status"
                >
                    {{localize "LA.tab.status.label"}}
                </button>
                <button type="button"
                    class="la-tab clipped-bot-alt la-text-header -fontsize2 -padding1"
                    data-group="primary" 
                    data-tab="loadout"
                >
                    {{localize "LA.tab.loadout.label"}}
                </button>
            </nav>
        </div>
    </header>
    <div class="la-body la-combine-h la-bckg-background -heightfull">
        <!-- Sidebar -->
        <section class="la-SVELTE-SIDEBAR LA_SCROLL_SIDEBAR la-sidebar la-bg-scroll la-shadow -medium -inset -widthfull -heightfull">
            {{!-- (#1) --}}
            {{!-- Svelte is injected in-place here --}}
        </section>
        <div class="la-ruler">&nbsp;</div>
        <section 
            class="la-content -widthfull -heightfull LA_SCROLL_BODY
                sheet-body"
        >
            {{!-- (#1) --}}
            <div class="la-SVELTE-HASE">
                {{!-- Svelte is injected in-place here --}}
            </div>
            <div class="la-SVELTE-ADVANCED -positionabsolute -bottom0 -width5 -displayflex -direction-column -gap1">
                {{!-- Svelte is injected in-place here --}}
            </div>
            <div 
                class="la-SVELTE-STATUS la-status la-tab la-dropshadow -fontsize2
                    tab" 
                data-group="primary" 
                data-tab="status"
            >
                {{!-- Svelte is injected in-place here --}}
            </div>
            <div 
                class="la-SVELTE-LOADOUT la-loadout la-tab la-dropshadow -fontsize2
                    tab" 
                data-group="primary" 
                data-tab="loadout"
            >
                {{!-- Svelte is injected in-place here --}}
            </div>
        </section>
        <div class="la-ruler">&nbsp;</div>
    </div>
</form>