<form class="la-npc {{cssClass}} la-root flexcol {{getTheme}}" autocomplete="off">
    <div class="la-combine-v -heightfull">
        <div class="la-SVELTE-HEADER -widthfull">
        </div>
        <div class="la-SVELTE-BODY LA_SCROLL_BODY -flex1 -widthfull">
        </div>
    </div>
</form>