// Shared styling between mech/pilot/large sheets
.la-root
{
    // Body
    .la-body
    {
        flex-wrap: wrap;
        flex-direction: row;

        height: calc(100% - 10rem);
        
        .la-content-body
        {
            flex: 2;
            min-width: 0px; // TODO: set to a specific value to and activate a responsive compact design
        }
    }
}