// Shared styling between mech/pilot/large sheets
.la-root
{
    .la-header
    {
        height: 10rem;
        
        >.la-nav__island
        {
            top: 8rem;
        }

        .la-header-content
        {
            .la-divider-h
            {
                mask-image: linear-gradient(to right, black 30%, transparent 70%);
                -webkit-mask-image: linear-gradient(to right, black 30%, transparent 70%);
                -moz-mask-image: linear-gradient(to right, black 30%, transparent 70%);
            }

            .la-textlog__wrapper
            {
                top: 5rem;
                height: 5rem;
                width: calc(100% - 15rem);
                mask-image: linear-gradient(to top, black 50%,rgba(0, 0, 0, 0.8) 60%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.2) 80%, transparent 100%);
                -webkit-mask-image: linear-gradient(to top, black 50%,rgba(0, 0, 0, 0.8) 60%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.2) 80%, transparent 100%);
                -moz-mask-image: linear-gradient(to top, black 50%,rgba(0, 0, 0, 0.8) 60%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.2) 80%, transparent 100%);
            }
        }
    }
}