.la-root
{
    .la-body>.la-sidebar
    {
        min-width: 15rem;
        flex: 1; // Baseline flex value. Overwritten by user settings

        >.la-content-secondary
        {
            overflow-y: scroll;
            overflow-x: hidden;

            >.la-sidebar__statistics
            {
                .la-actor__img
                {
                    max-height: 15rem;
                }
            }
        }
    }
}