// Overrides for Foundry and Lancer
.la-header__override
{
    >.window-header
    {
        // If a way to hook into foundryvtt-lancer's settings menu is found, 
        // this can be replaced to set the window-header via TS
        background-color: var(--primary-color); // Pray that the original sheet's primary color theme is the same
        border-bottom: unset;
    }
}

.window-content:has(>.la-root)
{
    padding: inherit;
    overflow: hidden;
}

.lancer.sheet header:not(.window-header).la-header
{
    margin: unset;
    // Somewhat redundant, but just to stay mutually exclusive from the default sheets
    background-color: var(--primary); // Since this is above the actual sheets, it needs to be hard coded here
}

.lancer.sheet body:not(.window-body).la-body
{
    // Somewhat redundant, but just to stay mutually exclusive from the default sheets
    // TODO: does not cover the content body for some reason
    background-color: var(--background);
}

.la-root
{
    height: 100%;

    img
    {
        border: unset;
    }

    input
    {
        border: unset;
        padding: unset;
        background: unset;
        clip-path: unset;
        -webkit-clip-path: unset;
    }

    button
    {
        width: inherit;
        border: unset;
        border-radius: unset;
        padding: unset;
        background: unset;
        box-shadow: unset;
        line-height: unset;
        color: unset;
        margin: unset;

        &:hover
        {
            box-shadow: unset;
        }

        i
        {
            margin-right: unset;
            vertical-align: middle;
        }
    }

    h1
    {
        border-bottom: unset;
        margin: unset;
        font-weight: unset;
    }

    i
    {
        // font-size: inherit;
        vertical-align: middle;
    }

    // Lancer overrides under this sheet
    .roll-attack
    {
        flex-direction: unset;
        justify-content: unset;
        align-items: unset;
        flex-grow: unset;
        margin: unset;
        min-width: unset;
        min-width: unset;
        height: unset;
        border: unset;
        border-radius: unset;
        box-shadow: unset;
    }

    .roll-damage
    {
        margin: unset;
    }

    .compact-damage
    {
        margin: unset;
    }

    .core-power-toggle
    {
        cursor: pointer;
        margin: unset !important;
        width: unset;
        height: unset;

        &:checked::before
        {
            content: "\F12A3";
        }

        &:not(:checked)::before
        {
            content: "\F125E";
            color: currentColor;
        }
    }

    .loaded-hex,
    .uses-hex,
    .power-uses-hex,
    .counter-hex,
    .charged-hex
    {
        font-size: unset;
        color: unset;
    }

    .compact-tag-row
    {
        margin: unset;
    }
}

.-pointerdisable
{
    pointer-events: none;
}

.-bold
{
    font-weight: bold;
}

.-padding0
{
    padding: 0.25rem;
}

.-padding0-lr
{
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.-padding1-lr
{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.-gap0
{
    gap: 0.25rem;
}

.-gap1
{
    gap: 0.5rem;
}

.-fullwidth
{
    width: 100%;
}

.-fontsizeinherit
{
    font-size: inherit !important;
}

.-fontsize0
{
    font-size: 0.75rem !important;
}

.-fontsize1
{
    font-size: 0.9rem !important;
}

.-fontsize2
{
    font-size: 1.25rem !important;

    >.la-extension
    {
        font-size: 0.66em;
    }
}

.-fontsize3
{
    font-size: 1.5rem !important;

    >.la-extension
    {
        font-size: 0.5em;
    }
}

.-fontsize4
{
    font-size: 1.75rem !important;

    >.la-extension
    {
        font-size: 0.4em;
    }
}

.-fontsize5
{
    font-size: 2rem !important;

    >.la-extension
    {
        font-size: 0.33em;
    }
}

.-fontsize6
{
    font-size: 3rem !important;
    
    >.la-extension
    {
        font-size: 0.25em;
    }
}

.-strikethrough
{
    text-decoration: line-through;
}

.-size0
{
    font-size: 0.75rem;
}

.-height0
{
    height: 0.75rem;
}

.-height1
{
    height: 1rem;
}

.-height2
{
    height: 1.25rem;
}

.-height3
{
    height: 1.5rem;
}

.-height4
{
    height: 1.75rem;
}

.-height5
{
    height: 2rem;
}

.-height10
{
    height: 4rem;
}


.-glow-header
{
    filter: drop-shadow(0px 0px 1.5px var(--header));
    -webkit-filter: drop-shadow(0px 0px 1.5px var(--header));
    -moz-filter: drop-shadow(0px 0px 1.5px var(--header));
}

.-glow-active-hover
{
    &:hover
    {
        filter: drop-shadow(0px 0px 5px var(--active));
        -webkit-filter: drop-shadow(0px 0px 5px var(--active));
        -moz-filter: drop-shadow(0px 0px 5px var(--active));
    }
}

.-glow-primary-hover
{
    &:hover
    {
        filter: drop-shadow(0px 0px 5px var(--primary));
        -webkit-filter: drop-shadow(0px 0px 5px var(--primary));
        -moz-filter: drop-shadow(0px 0px 5px var(--primary));
    }
}

.-glow-header-active
{
    &:active
    {
        filter: drop-shadow(0px 0px 1.5px var(--header));
        -webkit-filter: drop-shadow(0px 0px 1.5px var(--header));
        -moz-filter: drop-shadow(0px 0px 1.5px var(--header));
    }
}

.-glow-header
{
    filter: drop-shadow(0px 0px 1.5px var(--header));
    -webkit-filter: drop-shadow(0px 0px 1.5px var(--header));
    -moz-filter: drop-shadow(0px 0px 1.5px var(--header));
}

// TODO: probably generate these in the mixin
.-glow-kinetic
{
    filter: drop-shadow(0px 0px 1.5px var(--damage--kinetic));
    -webkit-filter: drop-shadow(0px 0px 1.5px var(--damage--kinetic));
    -moz-filter: drop-shadow(0px 0px 1.5px var(--damage--kinetic));
}

.-glow-energy
{
    filter: drop-shadow(0px 0px 1.5px var(--damage--energy));
    -webkit-filter: drop-shadow(0px 0px 1.5px var(--damage--energy));
    -moz-filter: drop-shadow(0px 0px 1.5px var(--damage--energy));
}

.-glow-explosive
{
    filter: drop-shadow(0px 0px 1.5px var(--damage--explosive));
    -webkit-filter: drop-shadow(0px 0px 1.5px var(--damage--explosive));
    -moz-filter: drop-shadow(0px 0px 1.5px var(--damage--explosive));
}

.-glow-burn
{
    filter: drop-shadow(0px 0px 1.5px var(--damage--burn));
    -webkit-filter: drop-shadow(0px 0px 1.5px var(--damage--burn));
    -moz-filter: drop-shadow(0px 0px 1.5px var(--damage--burn));
}

.-glow-heat
{
    filter: drop-shadow(0px 0px 1.5px var(--damage--heat));
    -webkit-filter: drop-shadow(0px 0px 1.5px var(--damage--heat));
    -moz-filter: drop-shadow(0px 0px 1.5px var(--damage--heat));
}

.-glow-variable
{
    filter: drop-shadow(0px 0px 1.5px var(--damage--variable));
    -webkit-filter: drop-shadow(0px 0px 1.5px var(--damage--variable));
    -moz-filter: drop-shadow(0px 0px 1.5px var(--damage--variable));
}