// Header
.la-root
{
    .la-header
    {
        min-height: 10rem;
        max-height: 10rem;
        height: 10rem;
        position: relative;

        >.la-nav__island
        {
            position: absolute;
            z-index: 1;
            right: 0rem;
            top: 8.25rem;
            filter: drop-shadow(-3px 3px 1px var(--shadow));
            -webkit-filter: drop-shadow(-3px 3px 1px var(--shadow));
            -moz-filter: drop-shadow(-3px 3px 1px var(--shadow));

            >.la-tabs
            {
                display: flex;

                >.la-tab
                {
                    letter-spacing: 0.2rem;
                    text-align: center;

                    transition: all 0.15s ease-in;

                    &:hover
                    {
                        background-color: var(--darken-1);
                    }

                    &.active
                    {
                        background-color: var(--darken-2);
                    }
                }
            }
        }

        .la-settings__island
        {
            position: absolute;
            z-index: 1;
            right: 0px;
            top: 0px;

            >button
            {
                font-size: 1.5rem;
            }
        }

        .la-header-content
        {
            >.la-names
            {
                align-self: flex-start;
                min-width: 15rem;

                >.la-mechname__input
                {
                    pointer-events: auto;
                    font-weight: bold;
                    letter-spacing: 0.25rem;
                    text-overflow: ellipsis;
                }
            }

            >.la-mechhead__container
            {
                >.la-mechhead__img
                {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}