.la-root
{
    .la-loadout.la-tab
    {
        // Indicate what is being rolled when the button element is rolled
        *:hover>.la-damage>.la-number__span
        {
            filter: drop-shadow(0px 0px 5px var(--primary));
            -webkit-filter: drop-shadow(0px 0px 5px var(--primary));
            -moz-filter: drop-shadow(0px 0px 5px var(--primary));
        }
    }
}