.la-root
{
    // TODO: rip any generated content styles out
    .la-loadout.la-tab
    {
        filter: drop-shadow(-3px 3px 1px var(--shadow));
        -webkit-filter: drop-shadow(-3px 3px 1px var(--shadow));
        -moz-filter: drop-shadow(-3px 3px 1px var(--shadow));

        >.la-mount__list.la-combine-v
        {
            // General
            // TODO: depreciate (moved to la-collapsegroup)
            .la-details-wrapper
            {
                width: 100%;
                border-width: 0px 0px 1px 1px;
                border-style: solid;
                border-radius: 0px 0px 0px 8px;
                padding: 0.25rem 0rem 0.25rem 0.25rem;

                &.-borderoff
                {
                    border-color: transparent;
                    border-radius: 8px;
                    border-width: 0px;
                }

                >.la-details-wrapper__span
                {
                    display: block;
                }
            }

            // TODO: depreciate
            .la-resource
            {
                margin-bottom: 0.25rem;
            }

            .la-corepower
            {
                &:hover>.la-corepower__span
                {
                    filter: drop-shadow(0px 0px 3px var(--header));
                    -webkit-filter: drop-shadow(0px 0px 3px var(--header));
                    -moz-filter: drop-shadow(0px 0px 3px var(--header));
                }

                &.-disabled
                {
                    box-shadow:
                        rgba(50, 50, 93, 0.25) -3px 3px 3px 1px inset,
                        rgba(50, 50, 93, 0.2) 2px 0px 2px 0px inset;

                    &:hover>.la-corepower__span
                    {
                        filter: unset;
                        -webkit-filter: unset;
                        -moz-filter: unset;
                    }
                }
            }

            .la-details
            {

                // Weapons & Systems
                &.-weapon
                {

                    // Weapon Info
                    >.la-details__summary
                    {
                        >.la-left.la-combine-h
                        {
                            >.la-name
                            {
                                align-items: flex-start;
                                gap: 0.2rem;
                                padding-top: 0.3rem;
                                --color: var(--accent);

                                >.la-bottom__span
                                {
                                    font-size: 0.8rem;
                                }
                            }

                            >.roll-attack
                            {
                                margin-right: 0.5rem;
                                margin-left: 0.5rem;
                                color: var(--header);

                                &:disabled
                                {
                                    filter: unset;
                                    -webkit-filter: unset;
                                    -moz-filter: unset;

                                    &:hover
                                    {
                                        cursor: not-allowed;
                                        filter: unset;
                                        -webkit-filter: unset;
                                        -moz-filter: unset;
                                    }
                                }
                            }
                        }

                        >.la-right.la-combine-h
                        {
                            >.la-properties.la-combine-v
                            {
                                --color: var(--accent);
                                align-items: flex-end;

                                >.la-combine-h
                                {
                                    width: 100%;
                                    text-align: right;
                                }

                                >.la-damage>.la-number__span
                                {
                                    filter: drop-shadow(0px 0px 1.5px var(--header));
                                    -webkit-filter: drop-shadow(0px 0px 1.5px var(--header));
                                    -moz-filter: drop-shadow(0px 0px 1.5px var(--header));
                                }

                                &:hover
                                {
                                    >.la-damage>.la-number__span
                                    {
                                        filter: drop-shadow(0px 0px 5px var(--active));
                                        -webkit-filter: drop-shadow(0px 0px 5px var(--active));
                                        -moz-filter: drop-shadow(0px 0px 5px var(--active));
                                    }
                                }

                                &:disabled
                                {
                                    >.la-damage>.la-number__span
                                    {
                                        filter: unset;
                                        -webkit-filter: unset;
                                        -moz-filter: unset;

                                        &:hover
                                        {
                                            cursor: not-allowed;
                                            filter: unset;
                                            -webkit-filter: unset;
                                            -moz-filter: unset;
                                        }
                                    }
                                }
                            }

                            >.la-options.la-combine-v
                            {
                                margin-left: 0.5rem;
                                margin-right: 0.5rem;

                                >.chat-flow-button,
                                >.lancer-context-menu
                                {
                                    width: 1.5rem;
                                }

                                ;
                            }
                        }
                    }
                }

                // Bracing & Empty
                &.-bracing
                {
                    >.la-details__summary
                    {
                        padding-left: 0.5rem;

                        >.la-left
                        {
                            >.la-icon
                            {
                                margin-right: 0.5rem;
                                margin-left: 0.5rem;
                            }
                        }
                    }
                }


                // Weapon Mods & Frame Traits
                &.-mod
                {
                    >.la-details__summary
                    {
                        font-size: 1.5rem;
                        padding-left: 0.5rem;

                        >.la-left
                        {
                            >.la-icon
                            {
                                margin-right: 0.5rem;
                                margin-left: 0.5rem;
                            }
                        }

                        >.la-right
                        {
                            >.la-options.la-combine-h
                            {
                                margin-right: 0.5rem;
                                margin-left: 0.5rem;

                                >.chat-flow-button,
                                >.lancer-context-menu
                                {
                                    width: 2ch;
                                    filter: drop-shadow(0px 0px 1.5px var(--header));
                                    -webkit-filter: drop-shadow(0px 0px 1.5px var(--header));
                                    -moz-filter: drop-shadow(0px 0px 1.5px var(--header));

                                    &:hover
                                    {
                                        filter: drop-shadow(0px 0px 5px var(--active));
                                        -webkit-filter: drop-shadow(0px 0px 5px var(--active));
                                        -moz-filter: drop-shadow(0px 0px 5px var(--active));
                                    }
                                }
                            }

                            >.la-systempoints.la-combine-h
                            {
                                gap: 0.25rem;
                            }

                            &::marker
                            {
                                font-size: 0.7rem;
                            }
                        }
                    }
                }

                &.-frame
                {
                    @extend .-mod;
                }

                &.-system
                {
                    @extend .-weapon;
                }

                &.-empty
                {
                    @extend .-bracing;
                }

                >.la-details__summary
                {
                    padding: unset;
                    padding-top: 0.25rem;
                    padding-bottom: 0.25rem;
                    justify-content: space-between;
                }

                .la-combine-h
                {
                    display: flex;
                    align-items: center;
                }

                .la-locked
                {
                    text-align: center;
                    padding: 1rem;
                }

                // Loading, Limited
                .la-hexarray
                {
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                    gap: 0.25rem;
                }

                .la-weaponprofile
                {
                    gap: 0.25rem;
                }

                // TODO: depreciate
                .la-warn__span
                {
                    display: block;
                    width: 100%;
                    margin-bottom: 0.25rem;
                }
            }
        }

        //---
        .la-left>.la-summary-label.la-combine-v,
        .la-right>.la-properties
        {
            --color: var(--accent);

            &:hover
            {
                >.la-damage>.la-number__span
                {
                    filter: drop-shadow(0px 0px 5px var(--primary));
                    -webkit-filter: drop-shadow(0px 0px 5px var(--primary));
                    -moz-filter: drop-shadow(0px 0px 5px var(--primary));
                }
            }
        }
    }
}