// Sidebar
.la-root
{
    .la-body>.la-sidebar
    {
        min-width: 15rem;
        flex: 1;

        >.la-content-secondary
        {
            overflow-y: scroll;
            overflow-x: hidden;

            >.la-sidebar__statistics
            {
                // Image
                >.la-mech
                {
                    min-height: 12rem;
        
                    .la-mech__img
                    {
                        max-height: 25rem;
                    }
                }
        
                // Macros/Flows
                .la-macroflows
                {
                    .la-flow
                    {
                        width: calc(100% - 2rem);
                    }
                }
            }
        }
    }

    // Scrollbar
    .la-body>.la-sidebar
    {
        >.la-content-secondary
        {
            scrollbar-width: thin;
            scrollbar-color: var(--scrollbar-secondary) transparent;
        }

        >.la-content-secondary::-webkit-scrollbar
        {
            width: 2px;
        }

        >.la-content-secondary::-webkit-scrollbar-thumb
        {
            background: var(--scrollbar-secondary);
            border: 0px;
        }

        >.la-content-secondary::-webkit-scrollbar-track
        {
            background: transparent;
        }

        >.la-content-secondary::-moz-scrollbar
        {
            width: 2px;
        }

        >.la-content-secondary::-moz-scrollbar-thumb
        {
            background: var(--scrollbar-secondary);
            border: 0px;
        }

        >.la-content-secondary::-moz-scrollbar-track
        {
            background: transparent;
        }
    }
}