// Sidebar
.la-root
{
    .la-body>.la-sidebar
    {
        min-width: 15rem;
        flex: 1;

        overflow-y: scroll;
        overflow-x: hidden;

        // Image
        >.la-mech
        {
            min-height: 12rem;

            .la-mech__img
            {
                max-height: 25rem;
            }
        }

        // Macros/Flows
        .la-macroflows
        {
            .la-flow
            {
                width: calc(100% - 2rem);
            }
        }
    }

    // Scrollbar
    .la-body
    {
        >.la-sidebar
        {
            scrollbar-width: thin;
            scrollbar-color: var(--scrollbar-secondary) transparent;
        }

        >.la-sidebar::-webkit-scrollbar
        {
            width: 2px;
        }

        >.la-sidebar::-webkit-scrollbar-thumb
        {
            background: var(--scrollbar-secondary);
            border: 0px;
        }

        >.la-sidebar::-webkit-scrollbar-track
        {
            background: transparent;
        }

        >.la-sidebar::-moz-scrollbar
        {
            width: 2px;
        }

        >.la-sidebar::-moz-scrollbar-thumb
        {
            background: var(--scrollbar-secondary);
            border: 0px;
        }

        >.la-sidebar::-moz-scrollbar-track
        {
            background: transparent;
        }
    }
}