// Sidebar
.la-root
{
    .la-body>.la-sidebar
    {
        min-width: 15rem;
        flex: 1;

        overflow-y: scroll;
        overflow-x: hidden;

        filter: drop-shadow(-3px 3px 1px var(--shadow));
        -webkit-filter: drop-shadow(-3px 3px 1px var(--shadow));
        -moz-filter: drop-shadow(-3px 3px 1px var(--shadow));

        // Frame Name
        >.la-framename
        {
            filter: inherit;
            -webkit-filter: inherit;
            -moz-filter: inherit;
        }

        // Image
        >.la-mech
        {
            position: relative;
            text-align: center;

            filter: inherit;
            -webkit-filter: inherit;
            -moz-filter: inherit;

            >.la-combine-v
            {
                position: absolute;
                left: 0px;
                font-size: 5rem;

                >.la-combine-h
                {
                    font-weight: bolder;
                }
            }

            >.la-mech__img
            {
                max-height: 25rem;
            }
        }

        // Macros/Flows
        .la-macroflows
        {
            align-items: flex-end;

            filter: inherit;
            -webkit-filter: inherit;
            -moz-filter: inherit;

            >.la-flow
            {
                width: calc(100% - 2rem);
            }
        }
    }

    // Scrollbar
    .la-body
    {
        >.la-sidebar
        {
            scrollbar-width: thin;
            scrollbar-color: var(--scrollbar-secondary) transparent;
        }

        >.la-sidebar::-webkit-scrollbar
        {
            width: 2px;
        }

        >.la-sidebar::-webkit-scrollbar-thumb
        {
            background: var(--scrollbar-secondary);
            border: 0px;
        }

        >.la-sidebar::-webkit-scrollbar-track
        {
            background: transparent;
        }

        >.la-sidebar::-moz-scrollbar
        {
            width: 2px;
        }

        >.la-sidebar::-moz-scrollbar-thumb
        {
            background: var(--scrollbar-secondary);
            border: 0px;
        }

        >.la-sidebar::-moz-scrollbar-track
        {
            background: transparent;
        }
    }
}