.la-root
{
    .-overflowhidden
    {
        overflow: hidden;
    }

    .-displayinline
    {
        display: inline;
    }

    .-displayflex
    {
        display: flex;

        &.-direction-column
        {
            flex-direction: column;
        }

        &.-direction-row
        {
            flex-direction: row;
        }
    }

    .-float-l
    {
        float: left;
    }
}